# Dependencies
node_modules/

# Build output
dist/
out/
build/

#env - no needed for  our case, but better to ignore it
.env
.env.*
!.env.example

# VS Code local/project state
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# Test coverage
coverage/
.nyc_output/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Temporary/editor files
*.tmp
*.temp
*.swp
*.swo

# TypeScript incremental build
*.tsbuildinfo